*.iml
*.class
/.idea
01 - Badges/01 - Badge/Badges/.idea/.name
01 - Badges/01 - Badge/Badges/.idea/copyright/Darshana_Ariyarathna.xml
01 - Badges/01 - Badge/Badges/.idea/dictionaries/Darshana_Ariyarathna.xml
01 - Badges/01 - Badge/Badges/.idea/encodings.xml
*.xml
